@import './utils';

* {
  padding: 0;
  margin: 0;
}

.navbar {
  border-bottom: 1px solid gray;
  //width: 100%;
  box-sizing: border-box;

  &__header {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
}

.search{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &__lbl {
    color: rgba(255, 255, 255, 0.7);
    position: absolute;
    left: rem(20px);
    top: rem(16px);
    font-size: rem(16px);
    background: rgb(0, 30, 60);
    transition: all 400ms;
    padding: rem(2px) rem(6px);
  }

  &:hover, &.focus {
    .search__lbl {
      font-size: rem(8px);
      top: rem(6px);
      left: rem(5px);
    }
  }

  &__input {
    width: 100%;
    padding: rem(9px);
    border-radius: rem(4px);
    border: rem(1px) solid rgba(255, 255, 255, 0.23);
    background: rgb(0, 30, 60);
    margin: rem(10px) rem(10px) rem(10px) 0;
    color: rgba(255, 255, 255, 0.9);
  }

  &__btn {
    cursor: pointer;
    background-color: #727a9e;
    border: none;
    color: black;
    padding: 10px 11.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: rem(8px);
    cursor: pointer;
  }
}

.weather-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
  padding: 20px 10px;
  border-radius: 4px;
  box-shadow: 0 3px 6px 0 #555;
  background: #727a9e;
  font-family: monospace;
  margin-bottom: rem(20px);

  &__details {
   color: black;
   font-family: monospace;
  }
}

.chart {
  width: 100%;
  padding-left: rem(10px);
  padding-right: rem(10px);
}
