@import './utils';

.App {
  width: 85%;
  max-width: rem(1200px);
  margin: auto;
  //background-color: rgba(37, 60, 115, 1);
  min-height: rem(100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: rem(1200px)) {
    padding-left: rem(32px);
    padding-right: rem(32px);
  }
}